<div class="row">
    <div class="col-md-3 portfolio-item">
        <a href="images/gallery/image-9.jpg" class='fresco'
           data-fresco-group='example'
           data-fresco-caption="Frans Hals, Banquet of the Officers of the St George Civic Guard, 1627">
            <img class="img-responsive img-rounded" src="images/gallery/thumb-9.JPG">
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="images/gallery/image-10.jpg" class='fresco'
           data-fresco-group='example'
           data-fresco-caption="Frans Hals, Banquet of the Officers of the St George Civic Guard, 1627">
            <img class="img-responsive img-rounded" src="images/gallery/thumb-10.JPG">
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="images/gallery/image-2.jpg" class='fresco'
           data-fresco-group='example'
           data-fresco-caption="Frans Hals, Banquet of the Officers of the St George Civic Guard, 1627">
            <img class="img-responsive img-rounded" src="images/gallery/thumb-2.JPG">
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="images/gallery/image-8.jpg" class='fresco'
           data-fresco-group='example'
           data-fresco-caption="Frans Hals, Banquet of the Officers of the St George Civic Guard, 1627">
            <img class="img-responsive img-rounded" src="images/gallery/thumb-8.JPG">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-3 portfolio-item">
        <a href="images/gallery/image-1.jpg" class='fresco'
           data-fresco-group='example'
           data-fresco-caption="Frans Hals, Banquet of the Officers of the St George Civic Guard, 1627">
            <img class="img-responsive img-rounded" src="images/gallery/thumb-1.jpg">
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="images/gallery/image-2.jpg" class='fresco'
           data-fresco-group='example'
           data-fresco-caption="Frans Hals, Banquet of the Officers of the St George Civic Guard, 1627">
            <img class="img-responsive img-rounded" src="images/gallery/thumb-2.JPG">
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="images/gallery/image-3.jpg" class='fresco'
           data-fresco-group='example'
           data-fresco-caption="Frans Hals, Banquet of the Officers of the St George Civic Guard, 1627">
            <img class="img-responsive img-rounded" src="images/gallery/thumb-3.JPG">
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="images/gallery/image-4.jpg" class='fresco'
           data-fresco-group='example'
           data-fresco-caption="Frans Hals, Banquet of the Officers of the St George Civic Guard, 1627">
            <img class="img-responsive img-rounded" src="images/gallery/thumb-4.JPG">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-3 portfolio-item">
        <a href="images/gallery/image-5.jpg" class='fresco'
           data-fresco-group='example'
           data-fresco-caption="Frans Hals, Banquet of the Officers of the St George Civic Guard, 1627">
            <img class="img-responsive img-rounded" src="images/gallery/thumb-5.JPG">
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="images/gallery/image-6.jpg" class='fresco'
           data-fresco-group='example'
           data-fresco-caption="Frans Hals, Banquet of the Officers of the St George Civic Guard, 1627">
            <img class="img-responsive img-rounded" src="images/gallery/thumb-6.JPG">
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="images/gallery/image-7.jpg" class='fresco'
           data-fresco-group='example'
           data-fresco-caption="Frans Hals, Banquet of the Officers of the St George Civic Guard, 1627">
            <img class="img-responsive img-rounded" src="images/gallery/thumb-7.JPG">
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="images/gallery/image-8.jpg" class='fresco'
           data-fresco-group='example'
           data-fresco-caption="Frans Hals, Banquet of the Officers of the St George Civic Guard, 1627">
            <img class="img-responsive img-rounded" src="images/gallery/thumb-8.JPG">
        </a>
    </div>
</div>
