<div class="row">
    <div class="page-header">
        <h2>Photo Gallery</h2>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-9">
        <script src="js/gallery/script1.js"></script>
        <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 800px;
        height: 456px; background: #191919; overflow: hidden;">

            <!-- Loading Screen -->
            <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
                </div>
                <div style="position: absolute; display: block; background: url(images/gallery/img/loading.gif) no-repeat center center;
                top: 0px; left: 0px;width: 100%;height:100%;">
                </div>
            </div>

            <!-- Slides Container -->
            <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 800px; height: 356px; overflow: hidden;">
                <div>
                    <img u="image" src="images/gallery/image-11.JPG" class="img-responsive"/>
                    <img u="thumb" src="images/gallery/thumb-11.JPG" class="img-responsive"/>
                </div>
                <div>
                    <img u="image" src="images/gallery/image-90.JPG" class="img-responsive"/>
                    <img u="thumb" src="images/gallery/thumb-90.JPG" class="img-responsive"/>
                </div>
                <div>
                    <img u="image" src="images/gallery/image-11.JPG" class="img-responsive"/>
                    <img u="thumb" src="images/gallery/thumb-11.JPG" class="img-responsive"/>
                </div>
                <div>
                    <img u="image" src="images/gallery/image-11.JPG" class="img-responsive"/>
                    <img u="thumb" src="images/gallery/thumb-11.JPG" class="img-responsive"/>
                </div>
                <div>
                    <img u="image" src="images/gallery/image-5.JPG" class="img-responsive"/>
                    <img u="thumb" src="images/gallery/thumb-5.JPG" />
                </div>
                <div>
                    <img u="image" src="images/gallery/image-6.JPG" class="img-responsive"/>
                    <img u="thumb" src="images/gallery/thumb-6.JPG" class="img-responsive"/>
                </div>
                <div>
                    <img u="image" src="images/gallery/image-7.JPG" class="img-responsive"/>
                    <img u="thumb" src="images/gallery/thumb-7.JPG" class="img-responsive"/>
                </div>
                <div>
                    <img u="image" src="images/gallery/image-8.JPG" class="img-responsive"/>
                    <img u="thumb" src="images/gallery/thumb-8.JPG" class="img-responsive"/>
                </div>
                <div>
                    <img u="image" src="images/gallery/image-9.JPG" class="img-responsive"/>
                    <img u="thumb" src="images/gallery/thumb-9.JPG" class="img-responsive"/>
                </div>

                <div>
                    <img u="image" src="images/gallery/image-90.JPG" class="img-responsive"/>
                    <img u="thumb" src="images/gallery/thumb-90.JPG" class="img-responsive"/>
                </div>
            </div>
            <link rel="stylesheet" href="css/gallery/style2.css"/>
        <span u="arrowleft" class="jssora05l" style="width: 40px; height: 40px; top: 158px; left: 8px;">
        </span>
        <span u="arrowright" class="jssora05r" style="width: 40px; height: 40px; top: 158px; right: 8px">
        </span>
            <div u="thumbnavigator" class="jssort01" style="position: absolute; width: 800px; height: 100px; left:0px; bottom: 0px;">
                <link rel="stylesheet" href="css/gallery/style1.css"/>
                <div u="slides" style="cursor: move;">
                    <div u="prototype" class="p" style="position: absolute; width: 72px; height: 72px; top: 0; left: 0;">
                        <div class=w><div u="thumbnailtemplate" style=" width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0;"></div></div>
                        <div class=c>
                        </div>
                    </div>
                </div>
            </div>
            <a style="display: none" href="http://www.jssor.com">Bootstrap Slider</a>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
