<div class="row">
    <div class="page-header">
        <h2>Video Gallery</h2>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-9">
        <div style="font-family:Arial, Verdana;">
            <script src="js/gallery/videoGallery.js"></script>
            <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 640px;
                 height: 390px;">
                <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 640px; height: 390px;
                    overflow: hidden;">
                    <div>
                        <div u="player"
                             style="position: relative; top: 0px; left: 0px; width: 640px; height: 390px; overflow: hidden;">
                            <iframe pHandler="ytiframe" pHideControls="0" width="740" height="490" style="z-index: 0;"
                                    url="//www.youtube.com/embed/pgB6ihGeN2Q?enablejsapi=1&version=3&playerapiid=ytplayer&fs=1&wmode=transparent"
                                    frameborder="0" scrolling="no" allowfullscreen="">
                            </iframe>
                            <div u="cover" class="videoCover"
                                 style="position: absolute; top: 0px; left: 0px; background-color: #000; background-image: url(images/gallery/img/play.png); background-position: center center; background-repeat: no-repeat; filter: alpha(opacity=40); opacity: .4; cursor: pointer; display: none; z-index: 1;"></div>
                            <link rel="stylesheet" href="js/gallery/videosGallery1.css"/>
                            <div u="close" class="closeButton" style="position: absolute; top: 0px; right: 1px;
                        width: 30px; height: 30px; background-color: #000; cursor: pointer; display: none; z-index: 2;">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div u="player"
                             style="position: relative; top: 0px; left: 0px; width: 640px; height: 390px; overflow: hidden;">
                            <iframe pHandler="ytiframe" pHideControls="0" width="740" height="490" style="z-index: 0;"
                                    url="http://www.youtube.com/embed/QjKO10hKtYw?enablejsapi=1&version=3&playerapiid=ytplayer&fs=1&wmode=transparent"
                                    frameborder="0" scrolling="no" allowfullscreen="">
                            </iframe>
                            <div u="cover" class="videoCover"
                                 style="position: absolute; top: 0px; left: 0px; background-color: #000; background-image: url(images/gallery/img/play.png); background-position: center center; background-repeat: no-repeat; filter: alpha(opacity=40); opacity: .4; cursor: pointer; display: none; z-index: 1;"></div>
                            <link rel="stylesheet" href="js/gallery/videosGallery1.css"/>
                            <div u="close" class="closeButton" style="position: absolute; top: 0px; right: 1px;
                        width: 30px; height: 30px; background-color: #000; cursor: pointer; display: none; z-index: 2;">
                            </div>
                            <!-- close button end -->
                        </div>
                    </div>
                    <div>
                        <div u="player"
                             style="position: relative; top: 0px; left: 0px; width: 640px; height: 390px; overflow: hidden;">
                            <iframe pHandler="ytiframe" pHideControls="0" width="740" height="490" style="z-index: 0;"
                                    url="http://www.youtube.com/embed/b-3BI9AspYc?enablejsapi=1&version=3&playerapiid=ytplayer&fs=1&wmode=transparent"
                                    frameborder="0" scrolling="no" allowfullscreen="">
                            </iframe>
                            <div u="cover" class="videoCover"
                                 style="position: absolute; top: 0px; left: 0px; background-color: #000; background-image: url(images/gallery/img/play.png); background-position: center center; background-repeat: no-repeat; filter: alpha(opacity=40); opacity: .4; cursor: pointer; display: none; z-index: 1;"></div>
                            <link rel="stylesheet" href="js/gallery/videosGallery1.css"/>
                            <div u="close" class="closeButton" style="position: absolute; top: 0px; right: 1px;
                        width: 30px; height: 30px; background-color: #000; cursor: pointer; display: none; z-index: 2;">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div u="player"
                             style="position: relative; top: 0px; left: 0px; width: 640px; height: 390px; overflow: hidden;">
                            <iframe pHandler="ytiframe" pHideControls="0" width="740" height="490" style="z-index: 0;"
                                    url="http://www.youtube.com/embed/JuU0M2xBasc?enablejsapi=1&version=3&playerapiid=ytplayer&fs=1&wmode=transparent"
                                    frameborder="0" scrolling="no" allowfullscreen="">
                            </iframe>
                            <div u="cover" class="videoCover"
                                 style="position: absolute; top: 0px; left: 0px; background-color: #000; background-image: url(images/gallery/img/play.png); background-position: center center; background-repeat: no-repeat; filter: alpha(opacity=40); opacity: .4; cursor: pointer; display: none; z-index: 1;"></div>
                            <link rel="stylesheet" href="js/gallery/videosGallery1.css"/>
                            <div u="close" class="closeButton" style="position: absolute; top: 0px; right: 1px;
                        width: 30px; height: 30px; background-color: #000; cursor: pointer; display: none; z-index: 2;">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div u="player"
                             style="position: relative; top: 0px; left: 0px; width: 640px; height: 390px; overflow: hidden;">
                            <iframe pHandler="ytiframe" pHideControls="0" width="740" height="490" style="z-index: 0;"
                                    url="http://www.youtube.com/embed/YbT0xy_Jai0?enablejsapi=1&version=3&playerapiid=ytplayer&fs=1&wmode=transparent"
                                    frameborder="0" scrolling="no" allowfullscreen="">
                            </iframe>
                            <div u="cover" class="videoCover"
                                 style="position: absolute; top: 0px; left: 0px; background-color: #000; background-image: url(images/gallery/img/play.png); background-position: center center; background-repeat: no-repeat; filter: alpha(opacity=40); opacity: .4; cursor: pointer; display: none; z-index: 1;"></div>
                            <link rel="stylesheet" href="js/gallery/videosGallery1.css"/>
                            <div u="close" class="closeButton" style="position: absolute; top: 0px; right: 1px;
                        width: 30px; height: 30px; background-color: #000; cursor: pointer; display: none; z-index: 2;">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div u="player"
                             style="position: relative; top: 0px; left: 0px; width: 640px; height: 390px; overflow: hidden;">
                            <iframe pHandler="ytiframe" pHideControls="0" width="740" height="490" style="z-index: 0;"
                                    url="http://www.youtube.com/embed/mCHUw7ACS8o?enablejsapi=1&version=3&playerapiid=ytplayer&fs=1&wmode=transparent"
                                    frameborder="0" scrolling="no" allowfullscreen="">
                            </iframe>
                            <div u="cover" class="videoCover"
                                 style="position: absolute; top: 0px; left: 0px; background-color: #000; background-image: url(images/gallery/img/play.png); background-position: center center; background-repeat: no-repeat; filter: alpha(opacity=40); opacity: .4; cursor: pointer; display: none; z-index: 1;"></div>
                            <link rel="stylesheet" href="js/gallery/videosGallery1.css"/>
                            <div u="close" class="closeButton" style="position: absolute; top: 0px; right: 1px;
                                 width: 30px; height: 30px; background-color: #000; cursor: pointer; display: none; z-index: 2;">
                            </div>
                        </div>
                    </div>
                </div>
                <link rel="stylesheet" href="js/gallery/videoGallery.css"/>
                <div u="navigator" class="jssorb03" style="position: absolute; bottom: 6px; left: 6px;">
                    <div u="prototype"
                         style="POSITION: absolute; WIDTH: 21px; HEIGHT: 21px; text-align:center; line-height:21px; color:White; font-size:12px;">
                        <div u="numbertemplate"></div>
                    </div>
                </div>
                <a style="display: none" href="http://www.jssor.com">Image Slider</a>
                <script>
                    jssor_slider1_starter('slider1_container');
                </script>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
